.container
  .header
    ul(class='nav nav-pills pull-right')
      li#about
        a(href='about') Contacto
      li
        a(href='logout', title='Cerrar sesión')
          span(class='glyphicon glyphicon-log-out')
    a(href='/index', id="home")
      h3.text-muted Notas Pucp
