div(class='container pull-right')
  ul(class='nav nav-pills pull-right')
    li#about
      a(href='about') Contacto
    li
      a(id='save-formula' href="#" title='Guardar formula')
        span(class='glyphicon glyphicon-floppy-disk')
    li
      a(href='logout', title='Cerrar sesión')
        span(class='glyphicon glyphicon-log-out') 
  h3.text-muted 
    span Notas 
    span(id="course-name") Pucp
