section(class='social-share')
  button(id='expand-navigation', class='expand-social')
    i(class='fa fa-share-alt')
  div(class='wrapper')
    ul
      li(id='share')
        a(href='#', onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=www.mevoyx20.com','facebook-share-dialog','width=626,height=436');return false;")
          span(class='fa fa-facebook')
      li
        a(data-dnt='true',
            href='https://twitter.com/intent/tweet?url=http://www.mevoyx20.com&button_hashtag=mevoyx20')
          span(class='fa fa-twitter')
      li
        a(href='#', onclick= "window.open('https://plus.google.com/share?ur\l=www.mevoyx20.com', 'Share to Google+','width=600,height=460,menubar=no,location=no,status=no')")
          span(class='fa fa-google-plus')