doctype
html(lang='eng')
  head
    meta(chartset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Grades app
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Courgette')
    link(rel='stylesheet', href='/css/error404.css')

  body
    .wrap
      .logo
        h1 404
        p La bica! Sucedió un error.
        a(href='/') Regresar
          