doctype
html(lang='eng')
  head 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Grades app
    link(rel='stylesheet', href='css/normalize.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oleo+Script')
  if production
    link(rel='stylesheet', href='css/min/dashboard.min.css')
  else
    link(rel='stylesheet', href='dashboard.css')

  body
    .container
      ul(class='nav nav-pills pull-right')
        li
          a(href='/index') Notas
        li
          a(href='/help') Ayuda
        li#about
          a(href='about') Contacto
        li
          a(href='logout', title='Cerrar sesión')
            span(class='glyphicon glyphicon-log-out') 
      a(href='/index', id="home")
        h3.text-muted Notas Pucp
    .container
      .row
        h1 Contáctanos
        div(class='alert alert-success',style='display:none')
          button(class='close', data-dismiss='alert')
            span(aria-hidden='true') &times
              span(class='sr-only') Close
          div(id='text')
        form(id='contact', role='form')
          fieldset
            .form-group
              select(id='msg-type', class='form-control')
                option Comentario o sugerencia
                option Error o bug en la página
                option go doto? Si yo también me engaño en dota 2
                option Idea para el rediseño de la página
            .form-group
              label Título
              input(id='title', type='text', class='form-control')
            .form-group
              label Mensaje
              textarea(id='msg', rows='11', class='form-control')
            .form-group
              label Email para recibir respuesta
              input(id='email', type='text', class='form-control')
            .actions
              input(type='submit', value='Enviar', class='btn btn-info pull-right')  
    div(id='spin')

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")

    if production
      script(src="javascript/min/about.min.js")
    else
      script(src="javascript/spin.min.js")
      script(src="javascript/consumeApi.js")
      script(src="javascript/contact.js")