doctype
html(lang='eng')
  head 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Grades app
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oleo+Script')
  if production
    link(rel='stylesheet', href='css/min/dashboard.min.css')
  else
    link(rel='stylesheet', href='dashboard.css')

  body
    include ./includes/navigation.jade
    .container
      .row
        h1 Contáctanos
        form(id='contact', role='form')
          fieldset
            .form-group
              select(id='msg-type', class='form-control')
                option Seleccionar
                option Error
                option Comentario
                option go doto?
                option idea para rediseño
            .form-group
              label Título
              input(id='title', type='text', class='form-control')
            .form-group
              label Mensaje
              textarea(id='msg', rows='11', class='form-control')
            .actions
              input(type='submit', value='Enviar', class='btn btn-info pull-right')  
    
    div(id='spin')

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    if production
      script(src="javascript/min/about.min.js")
    else
      script(src="javascript/consumeApi.js")
      script(src="javascript/contact.js")