- var production = 'pro' == process.env.NODE_ENV 
doctype
html(lang='eng')
  head 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:description', content='Notas Pucp permite calcular y simular las notas de tus cursos')
    meta(property='og:title', content='Notas pucp')
    meta(property='og:site_name', content='notaspucp.com')
    meta(property='og:image', content='https://scontent-b-dfw.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10513530_761556433886986_4199591947484540994_n.jpg?oh=c58c65e52eea724fc66069835618e7b&oe=546CAE9D')
    title mevoyx20
    link(rel='stylesheet', href='css/normalize.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-social.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oleo+Script')
    if production
      link(rel='stylesheet', href='css/min/login.min.css')
    else
      link(rel='stylesheet', href='css/login.css')
  body
    .container-fluid
      .row
        div(class='center-block block-login text-center')
          div(class='main-title') Me voy x 20 
          //Notas PUCP
          a(href='/auth/google', class='btn-lg btn-block btn-social btn-google-plus') Login Google
            i(class='fa fa-google-plus')
          a(href='/auth/facebook', class='btn-lg btn-block btn-social btn-facebook') Login Facebook
            i(class='fa fa-facebook')
          a(href='/auth/twitter', class='btn-lg btn-block btn-social btn-twitter') Login Twitter
            i(class='fa fa-twitter')

    //include ./includes/footer.jade