doctype
html(lang='eng')
  head 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Grades app
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
  div
    a(href='/auth/google') Login Google
    a(href='/auth/facebook') Login Facebook
    a(href='/auth/twitter') Login Twitter