- var production = 'pro' == process.env.NODE_ENV 
doctype
html(lang='eng')
  head 
    meta(charset='utf-8')
    meta(name='keywords', content='pucp,notas,promedio,fórmula,formula,20,mevoyx20')
    meta(name='description', content='Mevoyx20 te permite crear, buscar y compartir las fórmulas para  tus cursos. También te permite averiguar si te vas por 20 o a la bica')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:description', content='Mevoyx10 permite calcular y simular las notas de tus cursos')
    meta(property='og:title', content='mevoyx20')
    meta(property='og:site_name', content='www.mevoyx20.com')
    meta(property='og:image', content='images/logoV1.png')
    title mevoyx20
    link(rel='stylesheet', href='css/normalize.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-social.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oleo+Script')
    if production
      link(rel='stylesheet', href='css/min/login.min.css')
    else
      link(rel='stylesheet', href='css/login.css')
  body
    .container-fluid
      .row
        div(class='center-block block-login text-center')
          div(class='main-title') Me voy x 20 
          div(class='unv-name') versión PUCP
          img(class='logo', src='images/logoV1.png')
          div(class='floro')
            | Mevoyx20 te permite crear, buscar y compartir las fórmulas para 
            | tus cursos. También te permite averiguar si te vas por 20 o
            | a la bica
            // span(class='carita-gg') ( ͡° ͜ʖ ͡°)
          div.social-icon-login
            a(href='/auth/google', class='btn-lg btn-social btn-google-plus')
              i(class='fa fa-google-plus')
            a(href='/auth/facebook', class='btn-lg btn-social btn-facebook')
              i(class='fa fa-facebook')
            a(href='/auth/twitter', class='btn-lg btn-social btn-twitter') 
              i(class='fa fa-twitter')

    //include ./includes/footer.jade