- var production = 'pro' == process.env.NODE_ENV 
doctype
html(lang='eng')
  head 
    meta(charset='utf-8')
    meta(name='keywords', content='pucp,notas,promedio,fórmula,formula,20,mevoyx20')
    meta(name='description', content='Mevoyx20 te permite crear, buscar y compartir las fórmulas para  tus cursos. También te permite averiguar si te vas por 20 o a la bica')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:description', content='Mevoyx10 permite calcular y simular las notas de tus cursos')
    meta(property='og:title', content='mevoyx20')
    meta(property='og:site_name', content='www.mevoyx20.com')
    meta(property='og:image', content='images/logoV1.png')
    title mevoyx20
    link(rel='stylesheet', href='css/normalize.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-social.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oleo+Script')
    if production
      link(rel='stylesheet', href='css/min/login.min.css')
    else
      link(rel='stylesheet', href='css/login.css')
  body
    .container-fluid
      .row
        div(class='center-block block-login text-center')
          div(class='main-title') Me voy x 20 
          div(class='unv-name') versión PUCP
          div(class='social-login')
            span(class='text') Ingresa 
            span(class='glyphicon glyphicon-arrow-right')
            span(class='social-icon-login')
              a(href='/auth/google', class='btn-lg btn-social btn-google-plus')
                i(class='fa fa-google-plus')
              a(href='/auth/facebook', class='btn-lg btn-social btn-facebook')
                i(class='fa fa-facebook')
              a(href='/auth/twitter', class='btn-lg btn-social btn-twitter') 
                i(class='fa fa-twitter')
          //img(class='logo', src='images/logoV1.png')
          div(id='carousel', class='carousel slide carousel-fade', data-ride='carousel')
            ol(class='carousel-indicators')
              li(data-target='#carousel', data-slide-to='0', class='active')
              li(data-target='#carousel', data-slide-to='1')
              li(data-target='#carousel', data-slide-to='2')
              li(data-target='#carousel', data-slide-to='3')
              li(data-target='#carousel', data-slide-to='4')
              li(data-target='#carousel', data-slide-to='5')
            div(class='carousel-inner')
              div(class='active item')
                img(class='logo', src='images/logoV1.png', align="middle")
                div(class='carousel-caption') Mevoyx20
              div(class='item')
                img(src='images/carousel/searchCourse.jpg')
                div(class='carousel-caption') Busca cursos compartidos
              div(class='item')
                img(src='images/carousel/applyFormula.jpg')
                div(class='carousel-caption') Crea cursos a partir de fórmulas
              div(class='item')
                img(src='images/carousel/shareCourse.jpg')
                div(class='carousel-caption') Comparte tus fórmulas
              div(class='item')
                img(src='images/carousel/average.jpg')
                div(class='carousel-caption') Averigua por cuánto te vas
              div(class='item')
                div(class='login-now') 
                  div(class='glyphicon glyphicon-arrow-up')
                  div(class='text') ¿Qué esperas? 
                  br
                  div(class='text') Ingresa ya!
            a(class='left carousel-control',href='#carousel', data-slide='prev',
              role='button')
              span(class='glyphicon glyphicon-chevron-left')
            a(class='right carousel-control',href='#carousel', data-slide='next',
              role='button')
              span(class='glyphicon glyphicon-chevron-right')

          div(class='floro')
            | Mevoyx20 te permite crear, buscar y compartir las fórmulas para 
            | tus cursos. También te permite averiguar si te vas por 20 o
            | a la bica
            // span(class='carita-gg') ( ͡° ͜ʖ ͡°)
          
          //div.block-login-preview
            //div(id="preview-1", class='preview')
            //div(id="preview-2", class='preview')
            //div(id="preview-3", class='preview')

    //include ./includes/footer.jade
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(type='text/javascript').
      $('.carousel').carousel();