body {
  background: #567;
  font-family: 'Oleo Script', cursive;

}

#preview-1 {
  background: url(../images/mobile-3.png) no-repeat center center;
  background-size: 100%;
  background-repeat: no-repeat;
}

#preview-2 {
  background: url(../images/mobile-4.png) no-repeat center center;
  background-size: 100%;
  background-repeat: no-repeat;
}

#preview-3 {
  background: url(../images/mobile-1.png) no-repeat center center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.preview {
  height: 215px;
  width: 350px; 
  margin-top: 30px;
  text-align: center;
  transform: translate(-50%, 0)
}

.main-title {
  font-size: 3em;
  color: whitesmoke;
}

.block-login-preview {
  position: absolute;
  left: 50%;
  width: 0px;
  overflow: visible;
}

.floro {
  color: whitesmoke;
  font-size: 1.2em;
  text-align: justify;
}

.unv-name {
  color: whitesmoke;
  font-size: 1.3em; 
}
/* 2.3em */
.carita-gg {
  font-family: sans-serif;
}

.block-login {
  max-width: 600px;
  min-width: 200px;
  padding: 5px 0px;
}

.btn-social {
  font-size: 1.6em;
  margin-bottom: 10px; 
  padding-left: 30px;
  margin-left: 10px;
}

.btn-social.btn-lg{
  padding-left: 35px;
}
.social-login {
  color: whitesmoke;
  margin-top: 25px;
  margin-bottom: 15px;
}
.social-login .text{
  color: whitesmoke;
  font-size: 3em;
}

.social-login .glyphicon {
  padding-top: 10px;
  vertical-align: top;
  font-size: 3em;
}

.fa {
  padding-top: 0.15em;
  padding-left: 5px;
  border-right: 0 !important;
}

/*carousel*/
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel img {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
  font-family: Arial;
  height: 308px;
}
.item {
  background: white;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  color: black;
}
.carousel-caption {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0 0 1px yellow;
}
.carousel-indicators .active{
  background-color: black;
}

.carousel-indicators li{
  border: 1px solid black;
}

.carousel .logo {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-height: auto;
  max-width: auto;
  width: auto;
}

.login-now .glyphicon-arrow-up {
  zoom: 4;
}

.login-now .text {
  font-size: 3em;
  font-family: 'Oleo Script', cursive;
}

/**/
@media (min-width: 481px) {
  .main-title {
    font-size: 3.5em;
  }
  .floro {
    font-size: 1.4em;
  }
  .unv-name {
    font-size: 1.8em;
  }
}

@media (min-width: 700px) {
  .main-title {
    font-size: 4em;
  }
  .floro {
    font-size: 1.8em;
  }
  .unv-name {
    font-size: 2em;
  }
  .preview {
    height: 345px;
    width: 600px; 
  }
}
