body {
  background: #567;
  font-family: 'Oleo Script', cursive;

}

.main-title {
  font-size: 3em;
  color: whitesmoke;
}

.floro {
  font-size: 1.2em;
  text-align: justify;
}

.unv-name {
  color: whitesmoke;
  font-size: 1.3em; 
}
/* 2.3em */
.carita-gg {
  font-family: sans-serif;
}

.logo {
  zoom: 0.3;
}

.block-login {
  max-width: 400px;
  min-width: 200px;
  padding: 15px 8px;
}

.btn-social {
  font-size: 1.6em;
  margin-bottom: 10px; 
  padding-left: 30px;
  margin-left: 10px;
}

.btn-social.btn-lg{
  padding-left: 35px;
}

.social-icon-login {
  margin-top: 25px;
}

.fa {
  padding-top: 0.15em;
  padding-left: 5px;
  border-right: 0 !important;
}

@media (min-width: 481px) {
  .main-title {
    font-size: 3.5em;
  }
  .floro {
    font-size: 1.4em;
  }
  .unv-name {
    font-size: 1.8em;
  }
  .logo {
    zoom: 0.6;
  }
}

@media (min-width: 700px) {
  .main-title {
    font-size: 4em;
  }
  .floro {
    font-size: 1.8em;
  }
  .unv-name {
    font-size: 2em;
  }
  .logo {
    zoom: 1;
  }
}
