h3 {
  font-family: 'Oleo Script', cursive;
  font-size: 2.8em;
  margin-top: 5px;
  margin-left: 30px;
  text-align: center;
}

.navigation {
  width: 100%;
}

.tooltip {
  z-index: 99999;
}

.tooltip {
  z-index: 99999;
}

circle, rect { 
  fill: white;
  stroke: steelblue;  
  stroke-width: 2px;
}

.leaf {
  stroke: #C0D89F;
}

line {
  stroke: grey;
  stroke-width: 3px;
}

.incRect {
  stroke:grey;
  shape-rendering:crispEdges;
}

#nodes:hover {
  cursor: pointer;
}

#nodes text:hover {
  cursor: text;
}

#grades-container {
  bottom: 0px;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 50px;
  user-select: none;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select: none; 
  width: 100%;
  z-index: 1;
}

.nav-sidebar {
  margin-right: -21px; 
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
/*
 * list courses
 */

#search-results {
  max-height: 320px;
  overflow-y: auto;
}

.course:hover .hover-basic-menu {
  display: block;
}

.edit-menu {
  background-color: white;
  border-bottom: 1px blue solid;
  border-top: 1px blue solid;
  color: #428bca;
  display: block;
  padding: 7px 20px;
}

.glyphicon {
  cursor: pointer;
  margin-left: 3px;
}

.icon-input {
  top: 0px;
}

.menu-icon {
  float:right;
  font-size: 1.2em;
}

.click-menu {
  display: none;
}

.hide {
  display: none;
}

#remove-search {
  margin-top: 1px;
}

#add {
  right: 20px;
}

#course-list {
  padding-left: 5px;
}

#messages {
  left:0;
  margin-left:auto;
  margin-right:auto;
  max-width: 300px;
  position:absolute;
  right:0;
  top: 10em;
  z-index: 1001;
}

#my-courses {
  display: block;
  margin-bottom: 5px;
}

#no-results {
  display: none;
}

#course-search {
  margin-bottom: 0;
  margin-top: 15px;
}

#course-detail {
  padding-left: 2em;
}

#save-formula {
  display: inline-block;
}

.on-sel-hide {
  display: none;
}

#spin {
  top: 40%;
  left: 25%;
}

#toggle-left-panel {
  background-color: black;
  border-radius: 4px;
  border: 1px solid transparent;
  left: 0px;
  margin-bottom: 8px;
  margin-right: 15px;
  padding: 9px 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.icon-bar {
  background-color: #fff;
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
}
.icon-bar+.icon-bar {
  margin-top: 4px;
}

#apply-base-formula {
  margin: 0 3px;
}

/* social sidebar */

.sidebar {
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  bottom: 0;
  left: -300px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  position: fixed;
  top: 0px;
  width: 300px;
  z-index: 1000;
}

.social-sidebar a {
  background-color: black;
  background: #222;
  color: white;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  list-style-type: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 50px;
}

.social-sidebar .glyphicon {
  margin-left: 0px;
  top:  0px;
}

.social-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-sidebar {
  margin-top: -75px; /* (li * a:width) / -2 */
  overflow: visible;
  position: fixed;
  right: 0px;
  top: 50%;
  z-index: 99999;
}

.social-sidebar .social-text {
  border-radius: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  opacity: 0;
  padding-right: 4px;
  position: absolute;
  right: 150%;
  top: 0;
  transform-origin: 0;
  transform: rotateY(45deg);
  transition: all .5s ease .300ms;
  visibility: hidden;
  white-space: nowrap;
  width: 100px;
}
.social-sidebar a:hover .social-text {
  visibility: visible;
  opacity: 1;
  transform: rotateY(0)
}

.social-sidebar a span:after {
  content: "";
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  width: 0px; 
  height: 0px;
  left:100%;
  display:block;
  position:absolute;
  top: 32%;
  border-left: 10px solid #3b5998;
}


.social-sidebar li:first-child a { border-radius: 5px 0 0 0; }
.social-sidebar li:last-child a { border-radius: 0 0 0 5px; }

.social-sidebar li:first-child a:hover,
.social-sidebar li:first-child .social-text { background: #3b5998 }
.social-sidebar li:first-child .social-text:after {
    border-left: 10px solid #3b5998;
}
.social-sidebar li:nth-child(2) a:hover,
.social-sidebar li:nth-child(2) .social-text { background: #00acee }
.social-sidebar li:nth-child(2) .social-text:after {
    border-left: 10px solid #00acee;
}
.social-sidebar li:nth-child(3) a:hover,
.social-sidebar li:nth-child(3) .social-text { background: #dd4b39 }
.social-sidebar li:nth-child(3) .social-text:after {
    border-left: 10px solid #dd4b39;
}

.social-sidebar li:nth-child(4) a:hover,
.social-sidebar li:nth-child(4) .social-text { background: #444 }
.social-sidebar li:nth-child(4) .social-text:after {
    border-left: 10px solid #444;
}

@media (min-width: 970px) {
  .sidebar {
    display: block;
    left: 0;
  }
  #toggle-left-panel {
    left: 300px;
  }
  #grades-container {
    left: 300px;
  }
}

/* help page*/

/*#faq {
  counter-reset: my_counter;
}
#faq .question:before {
  content: counter(my_counter);
  counter-increment: my_counter;
}*/

.scroll-h {
  overflow-x: auto;
}

#faq .question{
  font-size: 1.4em;
}

#faq .answer{
  font-size: 1.2em;
  padding-left: 1em;
}

#faq .question,
#faq .answer {
  text-align: justify;
}

#faq a {
  text-decoration: none;
}

#faq {
  margin-top: 2em;
  margin-bottom: 4em;
}

#faq .glyphicon {
  padding-left: 3px;
  padding-right: 3px;
}
#faq .red {
  color: red;
  font-weight: bold;
}

#faq figure {
  display: block;
  text-align: center;
}

#faq iframe {
  display: block;
  margin: 0 auto;
}

#faq #smiling-face {
  font-size: 1.3em;
}

.decimal {
  list-style-type: decimal;
}

