
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.full-screen {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: block; 
}

circle, rect {
  fill:white;
  stroke:steelblue;  
  stroke-width:2px;
}

.leaf {
  fill: red;
}

line{
  stroke:grey;
  stroke-width:3px;
}

.incRect{
  stroke:grey;
  shape-rendering:crispEdges;
}

#treesvg g text:hover, #treesvg g circle:hover{
  cursor:pointer;
}

#g_labels text{
  text-anchor:middle;
}

#grades-container {
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}



/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
 * list courses
 */

#search-results {
  max-height: 320px;
  overflow-y: auto;
}

.course:hover .hover-basic-menu {
  display: block;
}

.edit-menu {
  background-color: white;
  border-top: 1px blue solid;
  border-bottom: 1px blue solid;
  color: #428bca;
  display: block;
  padding: 7px 20px;
}

.glyphicon {
  cursor: pointer;
  margin-left: 3px;
}

.icon-input {
  top: 0px;
}

.menu-icon {
  float:right;
  font-size: 1.2em;
}

.click-menu {
  display: none;
}

.hide {
  display: none;
}

#remove-search {
  margin-top: 1px;
}

#add {
  right: 20px;
}

#no-results {
  display: none;
}